table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1248px;
}
.main-body mat-form-field {
  width: 100px;
}

.icon {
  border: 2px solid #3d4eae;
  border-radius: 100px;
}

button {
  margin-right: 8px;
}